header{
    height: 100px;   
    background: url(../img/hedr.jpg) repeat-x;
    
    #logo{
       margin: 5px 0 0 0; 
    }
    
        nav{
                margin: 15px 0 0 0;
            z-index: 99999999;
            a{
                color: #fff;
                font-weight: bold !important;
            }
            
            .activ, a:hover{
                text-shadow: -1px 0px 14px rgba(255, 255, 255, 1);
                color: #fff;
            }
        }
    
    .top-bar{
        background: none;
    }
}

p{
    font-size: 14px;
    color: #959595;
}

h3{
    font-size: 1.3em;
    font-weight: bold;
    color: #959595;
}

h4{
    font-size: 1em;
    color: #959595;
}

h6,i{
    font-size: 0.8em;
  color: #959595;  
}

.headline{
    p{
        font-size: 18px;
        text-align: center;
    }
    padding: 45px 0 15px 0;
}

.hr-line{
    margin-bottom: 65px;
}

.topic-list{
    li{
        list-style: none;
    }
}



footer{
    background: #ececec;
    border-top: 1px solid #dedddd;
    padding: 60px 0 40px 0;
    
        li{
            img{
                border: 2px solid #fff;
            }
        }
    
    img[src="img/footer-logo.png"]{
        margin: 0 0 20px 0;
    }
}




